@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype"),
      url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

  form{
    font-family: "Poppins", sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #002147;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40vw;
    z-index: 999;
    border-radius: 20px;
  }

  @media (max-width:769px) {form{
    width: 80vw;
  }
    
  }
  @media (max-width:426px) {form{
    width: 300px;
  }
    
  }

  .promotion-card{
    cursor: pointer;
  }

  form input{
    height: 25px;
  }
  .checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .btn {
    height: 45px;
  }
  .btn-send {
    cursor: pointer;
  }

  .close{
    position: absolute;
    right: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 10; 
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.privacy-form {
  color: white;
  transition: color 0.3s ease;
}

@media (min-width:1025px) {
	.close:hover{
		transform: scale(1.1);  
	}
	.privacy-form:hover {
		color: #ffd700;
	}
}